/* styling for the background image and main body */
body {
    background-image: url("../grittyPics/hockeyRink.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
}


/* styling for flyers logo */

.flyers {
    width: 300px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/*styling for the gritty pics */
.grittyPic {
width: 900px;


}

/* container for action buttons and logo areas */
.pageWrapper {
  display: flex;
  height: 100vh;
}


/* styling for the side bar */


.sidebar {
  width: 300px;
  background-color: rgb(247, 73, 2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* handle centering of gritty */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*styling for lower right gritty */


.gritHouse {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}