/* styling for the background image and main body */
body {
    background-image: url("/hockeyRink.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
}
